@media (max-width: 75rem) {
    .main__form {
        min-width: 80rem;
        padding: 10rem 5rem;
        border-radius: 4rem;
    }

    .section-title {
        font-size: 2.4rem;
    }

    .form__slide {
        font-size: 2rem;
    }

    .info--age {
        font-size: 2rem;
    }

    .allowed-ages {
        font-size: 2rem;
    }

    .radio-buttons-gender {
        font-size: 2rem;
    }

    .btn {
        padding: 1.6rem 7.8rem;
        font-size: 2rem;
    }

    .btn--submit {
        padding: 1.6rem 4.5rem;
    }

    .select--city {
        font-size: 2rem;
    }

    textarea {
        padding: 1.5rem 2rem;
    }

    textarea::placeholder {
        font-size: 1.6rem;
    }

    .input--phone {
        font-size: 1.6rem;
    }

    .success-popup {
        min-width: 80rem;
        border-radius: 4rem;
    }

    .success__message {
        font-size: 2.4rem;
    }

    .loader {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 54rem) {
    .main__form {
        min-width: 70rem;
        padding: 10rem 6rem;
    }

    .form_radio {
        flex-direction: column;
        gap: 2rem;
    }

    .radio-button {
        display: flex;
        gap: .7rem;
        align-items: center;
        justify-content: center;
    }

    .slider::-webkit-slider-thumb {
        width: 3.8rem;
        height: 3.8rem;
    }

    .slider::-moz-range-thumb {
        width: 3.8rem;
        height: 3.8rem;
    }

    .success-popup {
        padding: 10rem 5rem;
        min-width: 20rem;
    }

    .margin-sm {
        margin-bottom: 2rem;
    }

    .message--error {
        transform: translateY(-1.8rem);
        font-size: 1.4rem;
    }

    .loader {
        translate: -25% 0;
    }
}

@media (max-width: 45rem) {
    .section-title {
        font-size: 1.8rem;
    }

    .form__slide {
        font-size: 1.6rem;
    }

    .info--age {
        font-size: 1.6rem;
    }

    .allowed-ages {
        font-size: 1.6rem;
    }

    .main__form {
        min-width: 55rem;
    }

    .form_radio {
        font-size: 1.6rem;
        gap: 1.3rem;
    }

    .btn {
        font-size: 1.6rem;
    }

    .select--city {
        font-size: 1.6rem;
    }

    textarea::placeholder {
        font-size: 1.3rem;
    }

    .input--phone::placeholder {
        font-size: 1.3rem;
    }

    .loader {
        translate: -30% 0;
        width: 2.4rem;
        height: 2.4rem;
    }

    .margin-sm {
        margin-bottom: 1.5rem;
    }

    .message--error {
        font-size: 1.3rem;
    }
}

@media (max-width: 37.5rem) {
    .main {
        padding: 2.5rem 1.6rem;
        justify-content: stretch;
        align-items: stretch;
    }

    .main__form {
        background: transparent;
        padding: 4rem 1.6rem;
        min-width: 40rem;
    }

    .slider::-webkit-slider-thumb {
        width: 2.6rem;
        height: 2.6rem;
    }

    .slider::-moz-range-thumb {
        width: 2.6rem;
        height: 2.6rem;
    }

    .btn-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .btn {
        padding: 1.3rem 9rem;
    }

    .btn--submit {
        padding: 1.3rem 4.4rem;
        white-space: nowrap;
    }

    .success-popup {
        border-radius: 2rem;
        min-height: 100%;
    }

    .success__message {
        font-size: 2rem;
    }

    .success__img {
        width: 7rem;
        height: 7rem;
    }

    .test {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn-container {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 26rem) {
    .main {
        justify-content: start;
    }

    .main__form {
        min-width: 30rem;
    }
}