*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #353535;
    --current-step-color: #3D46FA;
    --primary-gradient: linear-gradient(90deg, #4333FF 0%, #07FFD2 100%);
    --primary-gradient-hover: linear-gradient(90deg, #7E73FF 0%, #07FFD2 100%);
    --prev-button-gradient: linear-gradient(45deg, #07FFD2, #413BFD);
    --prev-button-gradient-hover: linear-gradient(45deg, #07FFD2, #7E73FF);
    --inactive-button-gradient: linear-gradient(90deg, #B2ABFF 0%, #51FFE0 100%);
    --error-color: #FF6565;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--primary-text-color);
    background: url("../img/image 1.png");
    background-size: cover;
}

/*HELPER FUNCTIONS*/
.margin-sm {
    margin-bottom: 3rem;
}

.margin-md {
    margin-bottom: 4rem;
}

.margin-lg {
    margin-bottom: 5rem;
}

.hidden {
    display: none !important;
}

/*//////////*/

.main {
    height: 100%;
    padding: 14rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.btn {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 100px;
}

.btn--continue {
    color: #fff;
    padding: 2rem 10rem;
    border: none;
    background-image: var(--primary-gradient);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn--continue:hover {
    background-image: var(--primary-gradient-hover);
}

.btn--prev {
    position: relative;
    padding: 2rem 10rem;
    color: var(--primary-text-color);
    border-radius: 10rem;
}

.btn--prev::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: var(--prev-button-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.btn--prev:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: var(--prev-button-gradient-hover);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.btn--submit {
    display: flex;
    color: white;
    padding: 2rem 4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--primary-gradient);
    position: relative;
}

.btn--submit:not(.btn--inactive):hover {
    background-image: var(--primary-gradient-hover);
}

.btn--inactive {
    background: var(--inactive-button-gradient);
}

.main__form {
    padding: 8rem 16rem;
    min-width: 116rem;
    background: #fff;
    border-radius: 6rem;
}

.section-title {
    display: block;
    font-size: 3.2rem;
    font-weight: 500;
}

.form__slide {
    font-size: 2.4rem;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step--current {
    color: var(--current-step-color);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.info--age {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.9rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .7rem;
    background: var(--primary-gradient);
    border-radius: .3rem;
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 1.5rem;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 4.5rem;
    height: 4.5rem;
    background: url("../img/Ellipse 1.png");
    border: none;
    cursor: pointer;
    background-size: contain;
}

.slider::-moz-range-thumb {
    border: none;
    width: 4.5rem;
    height: 4.5rem;
    background: url("../img/Ellipse 1.png");
    cursor: pointer;
    background-size: contain;
}

.allowed-ages {
    font-size: 2.4rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.radio-buttons-gender {
    display: flex;
    font-size: 2.4rem;
    margin-bottom: 8.7rem;
}

.radio-button {
    display: flex;
    gap: 1.2rem;
}

input[type='radio'] {
    position: relative;
    appearance: none;
    background: url("../img/Vector.svg") center no-repeat;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translateY(-0.075em);
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    background: url("../img/mdi_rhombus.svg") center no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    transition: .2s transform ease-in-out;
    border: none;
}

input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.custom-radio::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.form_radio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
}

.form_radio > label {
    margin-right: 9rem;
}

.sex-type {
    margin-left: 3.6rem;
}

.select--city {
    position: relative;
    width: 100%;
    font-family: inherit;
    padding: 1.9rem 2.5rem;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 400;
    border: 1px #E3E3E3 solid;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(131.75, 131.75, 131.75, 0.10);
    background-size: cover;
    appearance: none;
    background: white url('../img/arrow.svg') no-repeat right center;
}

.select--city:focus {
    outline: none;
}

.opened {
    background: white url('../img/arrowUp.svg') no-repeat right center;
}

textarea {
    padding: 1.5rem 2.5rem;
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: 1px #E3E3E3 solid;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-family: inherit;
    font-style: italic;
    font-weight: 400;
    resize: none;
}

textarea::placeholder {
    color: #ADADAD;
}

textarea:focus {
    outline: none;
}

.input--name {
    position: relative;
    width: 100%;
    font-size: 1.8rem;
    padding: 1.9rem 2.5rem;
    box-shadow: 0 4px 6px rgba(131.75, 131.75, 131.75, 0.10);
    border-radius: 10px;
    border: 1px #E3E3E3 solid;
    font-family: inherit;
}

.input--name:focus {
    outline: none;
}

.input--phone {
    position: relative;
    width: 100%;
    font-size: 1.8rem;
    padding: 1.9rem 2.5rem;
    box-shadow: 0 4px 6px rgba(131.75, 131.75, 131.75, 0.10);
    border-radius: 10px;
    border: 1px #E3E3E3 solid;
    font-family: inherit;
}

.input--phone:focus {
    outline: none;
}

.input--phone::placeholder {
    color: #ADADAD;
}

.message--error {
    position: absolute;
    color: var(--error-color);
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 400;
    z-index: 1;
    transform: translateY(-2.4rem);
}

.invalid {
    border: 1px var(--error-color) solid;
}

.policy-container {
    display: flex;
    gap: .5rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #fff;
    color: currentColor;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px #403EFC solid;
    border-radius: .3rem;
    display: grid;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    background: url("../img/ic_round-check.png");
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.check--policy {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.input-parent {
    position: relative;
}

.success-popup {
    min-width: 116rem;
    text-align: center;
    padding: 14rem 16rem;
    border-radius: 6rem;
    background-color: #fff;
    backdrop-filter: brightness(100%);
}

.success__message {
    color: var(--primary-text-color);
    font-size: 3.2rem;
    font-weight: 500;
}